<section class="blue-grey">
    <div class="center-align" id="banner">
        <div class="row">
            <div class="col s12">
                <h2 class="hide-on-small-only white-text">Download and play for free!</h2>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <a href="https://itunes.apple.com/us/app/star-wars-galaxy-of-heroes/id921022358?mt=8" target="_blank"><i
                        class="fab fa-apple"> Apple
                        Store</i></a>
            </div>
            <div class="col s6">
                <a href="https://play.google.com/store/apps/details?id=com.ea.game.starwarscapital_row&hl=en_US"
                    target="_blank"><i class="fab fa-google-play">
                        Google Play</i></a>
            </div>
        </div>
    </div>
</section>
<footer id="bottom" class="valign-wrapper blue-grey">
    <h6>Created by <a href="#">justingarcianm</a></h6>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- enables character counter in textareas -->
<script>
    $(document).ready(function () {
        $('input#text, textarea#comment').characterCounter();
    });

</script>

</body>

</html>