<section id="banner" class="valign-wrapper">
    <div class="row">
        <div class="col m8 s12">
            <h3>Download and play for free!</h3>
            <a href="#" class="waves-effect waves-light btn grey darken-4">Android</a>
            <a href="#" class="waves-effect waves-light btn grey darken-4">IOS</a>
        </div>
        <div class="col m4 s12 hide-on-med-and-down">
            <img src="https://lumiere-a.akamaihd.net/v1/images/goh_rpg_icon_vader_yoda_split_ios_lrg_d6ef803a.jpeg?region=0%2C0%2C1000%2C1000&width=960"
                alt="">
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- enables character counter in textareas -->
<script>
    $(document).ready(function () {
        $('input#text, textarea#comment').characterCounter();
    });

</script>

<script>
    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));
</script>

</body>

</html>