<% include partials/header %>

<main class="container">


    <header class="row">
        <div class="col s12">
            <div id="join">
                <h2>Welcome to the Star wars: Galaxy of Heroes Blog </h2>
                <h3>for the holotable fanaitics</h3>
                <div class="buttons">
                    <a href="#" class="btn grey darken-4">Get Started</a>
                    <a href="#" class="btn grey darken-4">Learn More</a>
                </div>
            </div>
        </div>
    </header>
    <section class="center-align">
        <a href="/article/new" class="waves-effect waves-light btn grey darken-4">Add New Post</a>
    </section>
    <section class="row">
        <hr>
        <div class="col m8 s12" id="column1 container">
            <h3>Our Stories:</h3>
            <% allArticles.forEach(function(article){ %>
            <article class="row">
                <div class="col l7 m12">
                    <h6>
                        <%= article.title %>
                    </h6>
                    <p>
                        <%= article.content %>
                    </p>
                    <h6>
                        <%= article.author %>
                    </h6>
                    <p>date posted:</p>
                    <img class="circle" style="width:5%;" src="https://swgoh.gg/static/img/assets/tex.charui_thrawn.png">
                </div>
                <div class="col l4 m12">
                    <img class="responsive-img" src="<%= article.image %>">
                </div>

            </article>
            <% }); %>
            <div class="left-align">
                <a href="*">Show All >></a>
            </div>
        </div>

        <div class="col m4 sm12 container" id="column2">
            <div id="twitter">
                <a class="twitter-timeline" href="https://twitter.com/swgohgg?ref_src=twsrc%5Etfw" data-height="500">Tweets
                    by swgohgg</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <h5>Need more?</h5>
            <hr>
            <ul>
                <li><span>01</span> <a href="https://forums.galaxy-of-heroes.starwars.ea.com/" target="_blank">EA
                        official Galaxy of
                        Heroes Forums</a></li>
                <li><span>02</span> <a href="https://swgoh.gg/" target="_blank">Heroes Database </a></li>
                <li><span>03</span> <a href="https://www.reddit.com/r/SWGalaxyOfHeroes/" target="_blank">Visit the
                        Subreddit!</a></li>
                <li><span>04</span> <a href="https://swgohevents.com/" target="_blank">Previous and upcoming Events</a></li>
            </ul>
            <hr>
            <footer>
                <a href="*">Help</a>
                <a href="*">Status</a>
                <a href="*">Writers</a>
                <a href="*">Blog</a>
                <a href="*">Career</a>
                <a href="*">Privacy</a>
                <a href="*">Terms</a>
                <a href="*">About</a>
            </footer>
        </div>
    </section>

</main>

<% include partials/footer %>