<% include partials/header %>


<div class="container">
    <h1 class="center-align">Post here!</h1>
    <div class="row">

        <form action="/" method="POST">
            <div class="row">
                <div class="input-field">
                    <input name="title" type="text" class="validate">
                    <label for="title">Title</label>
                    <span class="helper-text" data-error="wrong" data-success="right">100 characters only</span>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input name="author" type="text" class="validate">
                    <label for="author">Author</label>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea name="content" class="materialize-textarea"></textarea>
                        <label for="textarea1">Content</label>
                        <span class="helper-text" data-error="wrong" data-success="right">copy and paste</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input name="image" type="text" class="validate">
                    <label for="image">Image url</label>
                    <span class="helper-text" data-error="wrong" data-success="right">Right click on image and select
                        "Copy image location"</span>
                </div>
                <div class="center-align">
                    <input class="btn" type="submit" value="Post">
                </div>
            </div>

    </div>
    </form>
</div>
</div>
<a href="/">Go back</a>
<% include partials/footer %>