@import url('https://fonts.googleapis.com/css?family=Coda|Raleway');
html {
    margin: 0;
    padding: 0;
    background-color: #eee;
    color: #222;
    font-family: 'Raleway', sans-serif;
}

#join, #banner {
    font-family: 'Coda', cursive;
}
iframe {
    margin: auto;
    width: 80%;
    height: 400px;
}
#join {
    background-image: url('https://media.contentapi.ea.com/content/dam/eacom/en-us/migrated-images/2016/11/news-article-images-star-wars-goh-splash.jpg.adapt.crop191x100.1200w.jpg');
    background-position: center;
    background-size: cover;
    height: 600px;
}
#bg {
    background-image: linear-gradient(to right, #222, rgba(0,0,0,0) );
    height: 100%;
}
#newPostButton{
    padding: 50px;
}
#column1 {
    padding: 20px;
}
#scroll {
    overflow-y: auto;
    overflow-x: hidden;
    height: 800px;
}
#column1 h6 {
    font-weight: bold;
}
#column2 ul li a {
    color: #222;
    font-size: 1.2em;
    font-weight: bold
}
#column2 span{
    font-size: 3em;
    padding-right: 10px;
    color: rgb(0, 0, 0, 0.3)
}
form {
    width: 50%;
    margin: auto;
}

#banner {
    padding: 20px;
    height: auto;
    background-image: url('https://heavyeditorial.files.wordpress.com/2017/11/reyshj-web-adapt-crop16x9-1455w.jpg?quality=65&strip=all');
    background-position: bottom;
    background-size: cover;
   color: #eee;
}

#banner img {
    width: 60%;
}

::-webkit-scrollbar {
    width: 2px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  .articleText {
      color: #222;
      font-weight: bold;
      font-size: 1.1em;
  }